.Ai {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: rgb(83, 83, 83);
}

button.active {
  background-color: #007bff;
  color: #fff;
  cursor: default;
}

/*
button:hover:not(.active) {
  background-color: #0056b3;
  color: #fff;
}*/


input {
  padding: 10px;
  width: calc(100% - 22px);
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.tab-content {
  margin-top: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

img {
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.empty-image-slot {
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* Maintain aspect ratio for empty slots */
  border: 2px dashed #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.output {
  margin-top: 20px;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
}

.recipe-text {
  max-width: 100%; /* Adjust based on your specific layout needs */
  padding: 10px;
  box-sizing: border-box; /* Ensures padding is included in width calculation */
  word-wrap: break-word;
  overflow-y: auto; /* Allows scrolling for excessive text */
  font-size: calc(12px + 0.5vw); /* Responsive font size */
  line-height: 1.6; /* Improves readability */
  border: 1px solid #ccc; /* Optional: adds a border around the text container */
  margin-bottom: 20px; /* Spacing below the text container */
}

 .TalkWithAi > h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

 .StatementsGenerator > h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.ImageGenerator > h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.loader {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid #ccc;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

.loader::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background: #007bff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #007bff;;
    opacity: 1;
  }
  70% {
    box-shadow: 0 0 0 8px #007bff;;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 0 #007bff;;
    opacity: 1;
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.call-ai-button{
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

.call-ai-button:hover {
  background-color: #0056b3;
  cursor: pointer;
}