@keyframes animation {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.timer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timer > .label {
  font-size: 100px;
  line-height: 0.9;
}

.timer > .border {
  border: 2px solid #f2f2f2;
}

.timer > .border > .progressbar {
  height: 10px;
}

.animate {
  animation-name: animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 30000ms;
}

.pb-color-1 {
  background-color: black;
}

.pb-color-2 {
  background-color: red;
}
