.RightSide {
  display: flex;
  flex-direction: column;
  gap: 2rm;
}

.nav-icons {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.nav-icons > img {
  width: 1.5rem;
  height: 1.5rem;
}
