.cards {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
  position: relative;
}

.card > img {
  width: 100%;
}

.card > span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 50px;
  max-width: 350px;
  max-height: 240px;
  min-width: 350px;
  min-height: 240px;
  text-align: justify;
  margin-top: 1rem;
  font-size: 20px;
  resize: none;
  color: black;
  font-weight: normal;
}